name: Telegram News Bot

on:
  workflow_dispatch:
  schedule:
    - cron: "*/15 * * * *"   # каждые 15 минут

jobs:
  run-bot:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repo
        uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: "3.11"

      - name: Install dependencies
        run: pip install -r requirements.txt

      - name: Run bot
        env:
          BOT_TOKEN: ${{ secrets.BOT_TOKEN }}
          CHANNEL_ID: ${{ secrets.CHANNEL_ID }}
          LAST_TARAS: ${{ secrets.LAST_TARAS }}
          LAST_ZNAI: ${{ secrets.LAST_ZNAI }}
          LAST_1DAY: ${{ secrets.LAST_1DAY }}
        run: python bot.py
